<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="freelancer.gcsnuoc">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.GCSApplication"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:fullBackupContent="false"
        tools:replace="android:label,android:icon,android:name,android:allowBackup,android:fullBackupOnly,android:fullBackupContent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" ></activity>
        <activity android:name=".login.LoginActivity"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".setting.SettingActivity"
            android:parentActivityName=".login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
        </activity>
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".bookmanager.BookManagerActivity"
            android:parentActivityName=".login.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".login.LoginActivity" />
        </activity>

        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".detail.DetailActivity"
            android:parentActivityName=".bookmanager.BookManagerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".bookmanager.BookManagerActivity" />
        </activity>
    </application>

</manifest>